<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>Channel</title>
</head>
<body>
	<div class="wrapper">
		<div class="sidebar">
			<div class="logo">
				
			</div>
			<h2>CollabOverIdeas</h2>
			<ul>
				<li><a href="../index1.html"><i class="fas fa-pen-square"></i>Home</a></li>
				<li><a href="#"><i class="fas fa-pen-square"></i>Post idea</a></li>
				<li><a href="Channels.html"><i class="fas fa-globe-americas"></i>Channel</a></li>
				
				<li><a href="#"><i class="far fa-question-circle"></i> Help</a></li>
				<li><a href="#"><i class="fas fa-info"></i>About</a></li>
			</ul>
			<div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      		</div>
		</div>
			<div class="main_content">
        		<div class="header">Welcome!! Have a nice day.
				<li><a href="#"><i class="fas fa-pen-square"></i>Post idea</a></li>
				<li><a href="#"><i class="fas fa-pen-square"></i>Profile</a></li>

       		 </div>  
        <div class="info">
          
          		
					<li><a href="#">Channel 1</a></li>
					<li><a href="#">Channel 2</a></li>
					<li><a href="#">Channel 3</a></li>
					<li><a href="#">Channel 4</a></li>

				
         
      </div>
	</div>

</body>
</html>